<div class="header">
    <div class="header-left">
        <div class="header-loga">
             <img src="/assets/Frame.svg" alt="лагатип сайта">
       </div>
        <nav class="header-nav">
             <div class="header-nav-item">Главное</div>
             <div class="header-nav-item">О компании</div>
             <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
     <div class="header-1">
          <div class="header-ray">
             <img src="/assets/Phone.svg" alt="">
          </div>
           <div>
            <a class="header-none" href="tel:+79650842929">+7(965)084-29-29</a>
          </div>
           <div class="header-ray">
                 <img src="/assets/Vector.svg" alt="">
           </div>
           <button class="header-car">
                  <img src="/assets/Mask group1.svg" alt="">
                  <span class="header-car-3">Пусто</span>
           </button>
    </div>
</div>
<div class="yellow">
    <div style="display: flex;">
         <div class="header-sign"><img src="/assets/light.svg" alt=""></div>
         <nav class="header-nav-yellow">
          <button class="header-yellow-1">Каталог</button>
          <button class="header-yellow-1">Строймтериалы</button>
          <button class="header-yellow-1">Инструменты</button>
          <button class="header-yellow-1">Электрика</button>
          <button class="header-yellow-1">Интерьер и Одежда</button>
         </nav>
    </div>
  <div>
<div class="header_niz_right">
    <form class="form" action="">
      <input class="form_input" type="" placeholder="Поиск, например Круг зачистной">
      <img src="assets/Mask group.svg" alt="Поиск">
    </form>
      <img src="/assets/map-pin (2) 1.svg" alt="">
  <div class="header_niz_right">Москва</div>
</div>
