<div class="header">
  <div class="header-left">
    <div class="header-loga">
      <img src="/assets/Frame.svg" alt="лагатип сайта" />
    </div>
    <nav class="header-nav">
      <a class="header-nav-item" href="">Главное</a>
      <a class="header-nav-item" href="">О компании</a>
      <a class="header-nav-item" href="">Каталог</a>
    </nav>
  </div>
  <div class="header-1">
    <div class="header-ray">
      <img src="/assets/Phone.svg" alt="" />
    </div>
    <div>
      <a class="header-none" href="tel:+79650842929">+7(965)084-29-29</a>
    </div>
    <div class="header-ray">
      <img src="/assets/Vector.svg" alt="" />
    </div>
    <button class="header-car">
      <img style="margin-left: 8px;" src="/assets/Mask group1.svg" alt="" />
      <span class="header-car-3">Пусто</span>
    </button>
  </div>
</div>
<div class="yellow">
  <div style="display: flex">
    <div class="header-sign"><img src="/assets/light.svg" alt="" /></div>
    <div class="header-nav-yellow">
      <button class="header-yellow-1">Каталог</button>
      <button class="header-yellow-1">Строймтериалы</button>
      <button class="header-yellow-1">Инструменты</button>
      <button class="header-yellow-1">Электрика</button>
      <button class="header-yellow-1">Интерьер и Одежда</button>
    </div>
  </div>
  <div class="header_niz_right">
    <form class="form" action="">
      <input class="form_input" type-text="" placeholder="Поиск, например Круг зачистной" />
      <img src="assets/Mask group.svg" alt="Поиск" />
    </form>
    <span style="display: flex;">
      <img src="/assets/map-pin (2) 1.svg" alt="" />
      <div class="header_niz_right">Москва</div>
    </span>
  </div>
</div>

<div>
  <img src="assets/Rectangle 5.png" alt="" style="width: 100%" />
</div>

<div class="header-flex">
  <div><img class="header-image" src="/assets/Mask groug.svg" alt="" /></div>
  <div>
    <div>Большой ассартимент</div>
    <div class="header-gray">строительных материалов всегда в наличии</div>
  </div>
  <div><img class="header-image" src="/assets/Mask grou.svg" alt="" /></div>
  <div>
    <div>Доставка стройматериалов</div>
    <div class="header-gray">
      в течении четырех часов или в любое удобное время
    </div>
  </div>
  <div><img class="header-image" src="/assets/Mask gro.svg" alt="" /></div>
  <div>
    <div>Многоуревневая система управления качеством</div>
    <div class="header-gray">по стандарту ISO 9001</div>
  </div>
</div>

<div>
  <div class="content-containers">
    <div class="header-new">
      <button class="header-new-1" style="color: #f0ba4e">1</button>
      <button class="header-new-1">2</button>
      <button class="header-new-1">3</button>
      <button class="header-new-1">4</button>
      <button class="header-new-1">5</button>
    </div>
    <div class="item-cards">
      <div class="item-cards-grind-left">
        <div class="item-text">Строительный отделочный инструмент</div>
        <div class="item-action">
          <span style="margin-right: 10px">Перейти в каталог</span>
          <a class="item-link">
            <img src="/assets/Frame-20.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="item-cards-grind">
        <div class="item-cards-block-1">
          <div class="item-cards-block-text-1">Эмали</div>
          <div class="item-cards-block-action-1">
            <span class="text-span">Перети в каталог</span>
            <a class="item-cards-block-action-link-1" href="">
              <img src="/assets/Frame-20.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="item-cards-block-2">
          <div class="item-cards-block-text-2">Лакокрасочные материалы</div>
          <div class="item-cards-block-action-2">
            <span class="text-span">Перети в каталог</span>
            <a class="item-cards-block-action-link-2" href="">
              <img src="/assets/Frame-20.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="item-cards-block-3">
          <div class="item-cards-block-text-3">Пены,клеи и герметики</div>
          <div class="item-cards-block-action-3">
            <span class="text-span">Перети в каталог</span>
            <a class="item-cards-block-action-link-3" href="">
              <img src="/assets/Frame-20.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="item-cards-block-4">
          <div class="item-cards-block-text-4">Розетки и выключатели</div>
          <div class="item-cards-block-action-4">
            <span class="text-span">Перети в каталог</span>
            <a class="item-cards-block-action-link-4" href="">
              <img src="/assets/Frame-20.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popular-produkts">
  <div class="popular-produkts-1">Популярные товары</div>
  <a href="" class="popular-produkts-2">Посмотреть все товары</a>
</div>
<div class="new-produkts">
  <button class="slider-arrow-left">&#10094;</button>
  <div class="new-produkts-1">
    <div class="iconka">
      <img class="icon-left" src="/assets/Frame-100.svg" alt="">
      <img class="icon-right" src="/assets/Frame-99.svg" alt="">
    </div>
    <div class="produkt-info">
      <h2>Круг зачистой 125х6х22</h2>
      <p style="margin-top: -14px;">Артикул 00004</p>
      <div class="product-price">
        <p style="color: #b9b3b3;">Цена за штуку</p>
        <span class="price-regular"><s>52 руб.</s>
          <h3 class="price-discounted">48 руб.</h3>
        </span>
        <p style="margin: -1px;">Количество</p>
        <div class="quantity-selector">
          <button s class="quantity-decrease">-</button>
          <h3 class="quantity-value">1</h3>
          <button class="quantity-decrease">+</button>
          <div class="add-to-cart">
            <button class="add-button">В карзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new-produkts-1">
    <div class="iconka">
      <img class="icon-left" src="/assets/Frame-100.svg" alt="">
      <img class="icon-right" src="/assets/Frame-99.svg" alt="">
    </div>
    <div class="produkt-info">
      <h2>Круг зачистой 125х6х22</h2>
      <p style="margin-top: -14px;">Артикул 00004</p>
      <div class="product-price">
        <p style="color: #b9b3b3;">Цена за штуку</p>
        <span class="price-regular"><s>52 руб.</s>
          <h3 class="price-discounted">48 руб.</h3>
        </span>
        <p style="margin: -1px;">Количество</p>
        <div class="quantity-selector">
          <button s class="quantity-decrease">-</button>
          <h3 class="quantity-value">1</h3>
          <button class="quantity-decrease">+</button>
          <div class="add-to-cart">
            <button class="add-button">В карзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-produkts-1">
    <div class="iconka">
      <img src="/assets/new.svg" alt="">
      <img class="icon-left-1" src="/assets/Frame-100.svg" alt="">
      <img class="icon-right-1" src="/assets/Frame-99.svg" alt="">
    </div>
    <div class="produkt-info">
      <h2>Круг зачистой 125х6х22</h2>
      <p style="margin-top: -14px;">Артикул 00004</p>
      <div class="product-price">
        <p style="color: #b9b3b3;">Цена за штуку</p>
        <span class="price-regular"><s>52 руб.</s>
          <h3 class="price-discounted">48 руб.</h3>
        </span>
        <p style="margin: -1px;">Количество</p>
        <div class="quantity-selector">
          <button s class="quantity-decrease">-</button>
          <h3 class="quantity-value">1</h3>
          <button class="quantity-decrease">+</button>
          <div class="add-to-cart">
            <button class="add-button">В карзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-produkts-1">
    <div class="iconka">
      <img src="/assets/new.svg" alt="">
      <img style="margin-left: 115px;" src="/assets/Frame-99.svg" alt="">
    </div>
    <div class="produkt-info">
      <h2>Круг зачистой 125х6х22</h2>
      <p style="margin-top: -14px;">Артикул 00004</p>
      <div class="product-price">
        <p style="color: #b9b3b3;">Цена за штуку</p>
        <span class="price-regular">
          <h3 class="price-discounted">52 руб.</h3>
        </span>
        <p style="margin: -1px;">Количество</p>
        <div class="quantity-selector">
          <button s class="quantity-decrease">-</button>
          <h3 class="quantity-value">1</h3>
          <button class="quantity-decrease">+</button>
          <div class="add-to-cart">
            <button class="add-button">В карзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="slider-arrow-right">&#10095;</button>
</div>
<div style="margin-left: 288px;"><img src="/assets/Frame-50.png" alt=""></div>
<div class="popular-produkts">
  <div class="popular-produkts-1">Новинки</div>
  <a href="" class="popular-produkts-2">Посмотреть все товары</a>
</div>
<div class="new-produkts-finish">
  <div class="new-produkts-1">
    <button class="slider-arrow-left">&#10094;</button>
    <div class="iconka">
      <img src="/assets/new.svg" alt="">
      <img style="margin-left: 115px;" src="/assets/Frame-99.svg" alt="">
    </div>
    <div class="produkt-info">
      <h2>Круг зачистой 125х6х22</h2>
      <p style="margin-top: -14px;">Артикул 00004</p>
      <div class="product-price">
        <p style="color: #b9b3b3;">Цена за штуку</p>
        <span class="price-regular">
          <h3 class="price-discounted">52 руб.</h3>
        </span>
        <p style="margin: -1px;">Количество</p>
        <div class="quantity-selector">
          <button s class="quantity-decrease">-</button>
          <h3 class="quantity-value">1</h3>
          <button class="quantity-decrease">+</button>
          <div class="add-to-cart">
            <button class="add-button">В карзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="new-produkts-1">
      <div class="iconka">
        <img src="/assets/new.svg" alt="">
        <img style="margin-left: 115px;" src="/assets/Frame-99.svg" alt="">
      </div>
      <div class="produkt-info">
        <h2>Круг зачистой 125х6х22</h2>
        <p style="margin-top: -14px;">Артикул 00004</p>
        <div class="product-price">
          <p style="color: #b9b3b3;">Цена за штуку</p>
          <span class="price-regular">
            <h3 class="price-discounted">52 руб.</h3>
          </span>
          <p style="margin: -1px;">Количество</p>
          <div class="quantity-selector">
            <button s class="quantity-decrease">-</button>
            <h3 class="quantity-value">1</h3>
            <button class="quantity-decrease">+</button>
            <div class="add-to-cart">
              <button class="add-button">В карзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="new-produkts-1">
      <div class="iconka">
        <img src="/assets/new.svg" alt="">
        <img style="margin-left: 115px;" src="/assets/Frame-99.svg" alt="">
      </div>
      <div class="produkt-info">
        <h2>Круг зачистой 125х6х22</h2>
        <p style="margin-top: -14px;">Артикул 00004</p>
        <div class="product-price">
          <p style="color: #b9b3b3;">Цена за штуку</p>
          <span class="price-regular">
            <h3 class="price-discounted">52 руб.</h3>
          </span>
          <p style="margin: -1px;">Количество</p>
          <div class="quantity-selector">
            <button s class="quantity-decrease">-</button>
            <h3 class="quantity-value">1</h3>
            <button class="quantity-decrease">+</button>
            <div class="add-to-cart">
              <button class="add-button">В карзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="new-produkts-1">
      <div class="iconka">
        <img src="/assets/new.svg" alt="">
        <img style="margin-left: 115px;" src="/assets/Frame-99.svg" alt="">
      </div>
      <div class="produkt-info">
        <h2>Круг зачистой 125х6х22</h2>
        <p style="margin-top: -14px;">Артикул 00004</p>
        <div class="product-price">
          <p style="color: #b9b3b3;">Цена за штуку</p>
          <span class="price-regular">
            <h3 class="price-discounted">52 руб.</h3>
          </span>
          <p style="margin: -1px;">Количество</p>
          <div class="quantity-selector">
            <button s class="quantity-decrease">-</button>
            <h3 class="quantity-value">1</h3>
            <button class="quantity-decrease">+</button>
            <div class="add-to-cart">
              <button class="add-button">В карзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="slider-arrow-right">&#10095;</button>
</div>
<div class="footer-section">
  <div class="footer__main-block-1">
    <img src="/assets/Frame.svg" alt="">
    <div class="foter-secton-1">
      <img style="margin-right: 15px;" src="/assets/Icon-12.svg" alt="">
      <h6 class="Contact-phone">Контактный телефон</h6>
      <img src="/assets/Icon11.svg" alt="">
      <h6 class="email">Электронная почта</h6>
    </div>
    <div>
      <a style="margin-left: 38px;" class="header-none" href="tel:+78123090934">+ 7 (812) 309-09-34</a>

    </div>
    <div>
      <a style="margin-left: 38px;" class="header-none" href="tel:+79650842909">+ 7 (965) 084-29-09</a>
    </div>
    <div class=" footr-1">
      <h5 class="footr-2">Главное</h5>
      <h5 class="footr-2">О компании</h5>
      <h5 class="footr-2">Каталог</h5>
    </div>
    <div style="display: flex;">
      <button class="footer-button"><img src="/assets/Mini Button.svg" alt=""></button>
      <button class="footer-button"><img src="/assets/Mini Button2.svg" alt=""></button>
      <button class="footer-button"><img src="/assets/Mini Button1.svg" alt=""></button>
    </div>
  </div>

  <div class="footer__main-block-2">
    <h3 style="color: white;">Остались вопросы?</h3>
    <h5 style="color: #FFFFFF99;">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом
      ящике. Отпишитесь в любое время одним щелчком мыши.</h5>
    <div class="subscribe-form">
      <img class="icon-finish" src="/assets/Icon.svg" alt="">
      <input class="subscribe-form-input" type="email" placeholder="Введите свою почту" />
      <button class="subscribe-form-button-hover" type="submit">Отправить</button>
    </div>
    <h5 class="slite-staring">
      © 2025-2026, EDE
    </h5>
  </div>
</div>