<div class="header">
   <div class="header-left">
        <div class="header-loga">
             <img src="/assets/Frame.svg" alt="лагатип сайта">
       </div>
        <nav class="header-nav">
             <div class="header-nav-item">Главное</div>
             <div class="header-nav-item">О компании</div>
             <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
     <div class="header-1">
          <div class="header-ray">
             <img src="/assets/Phone.svg" alt="трубка">
          </div>
               <div style="margin-left: 10px;">+7(965)084-29-29</div>
                 <div class="header-ray">
                     <img src="/assets/Vector.svg" alt="сердечка">
                 </div>
                <button class="header-car">
                       <img src="/assets/Mask group.svg" alt="">
                       <span class="header-car-3">Пусто</span>
              </button>
    </div>
</div>
<div class="yellow">
    <div style="display: flex;">
         <div class="header-sign"><img src="/assets/light.svg" alt=""></div>
         <nav class="header-nav-yellow">
             <div class="header-yellow-1">Каталог</div>
             <div class="header-yellow-1">Строймтериалы</div>
             <div class="header-yellow-1">Инструменты</div>
             <div class="header-yellow-1">Электрика</div>
             <div class="header-yellow-1">Интерьер и Одежда</div>
         </nav>
    </div>
  <div>
    <div>1234567</div>
</div>
